.routes-content{
padding: 1rem;
}

.header-ul{
  display: flex;
  gap: 0 1rem;
  list-style:none;
}

.movies-ul{
  display: flex;
  flex-direction: column;
  list-style:decimal;
  gap: 1rem 0;
}

.App{
  background-color: grey;
}

.singin-form{
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: .25rem;
  margin-bottom: .5rem ;
}
